@font-face {
  font-family: Graphik-Regular;
  font-weight: 400;
  src: url('@assets/fonts/GraphikLCG-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Graphik-Medium;
  font-weight: 500;
  src: url('@assets/fonts/GraphikLCG-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Druk-Bold;
  font-weight: 700;
  src: url('@assets/fonts/Druk-Wide-Cyr.ttf') format('truetype');
}
