@use '@styles/index.scss' as *;

.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: 200px;
  background: #fff;

  @include scaled(height, 28px);
  @include scaled(padding-left, 37px);
  @include scaled(padding-right, 16px);
}

.icon {
  position: absolute;
  object-fit: cover;

  @include scaled(left, 4px);
  @include scaled(top, -4px);
  @include scaled(width, 28px);
  @include scaled(height, 28px);
}

.text {
  color: #000;
  line-height: 1.3;
  font-family: $font-family-medium;
  white-space: nowrap;

  @include scaled(font-size, 11px);
}
